* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Orbitron', sans-serif; */
    text-align: center;
    height: 100%;
    background-size: cover;
    background-position:center center;
    background-image: url("../imgs/game_background.jpg");
    padding: 200px;
}



h1 {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 6px 6px black;
    color: lime;
    font-size: 5em;
    
}

p {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    text-shadow: 4px 4px black ;
    color: lime
}

#lives {
    margin: 20px 0;
    font-size: 1.5em;
    text-shadow: 4px 4px black; 
    color: red;
}

#word {
    font-family: 'Orbitron', sans-serif;
    margin: 20px 0;
    font-size: 2em;
    text-shadow: 4px 4px black;
    color: lime;
}

#keyboard {
    display: inline-block;
    margin: 20px 0;
}

.key {
    /* display: flex;
    flex-wrap: wrap; */
    background-color: lime;
    border: none;
    color: #f038ff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 5px;
   
}

.key:hover {
    background-color: #ff66cc;
}

.key:disabled {
    background-color: purple;
    color: black;
}

#gameMusic {
    background-color: lime;
    border: none;
    color: #f038ff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 5px;
}

#gameMusic:hover {
    background-color: #ff66cc;
}


#endGameMessage {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5em;
}

#endGameMessage span {
    
    color: neonpink;
    font-weight: bold;
    color: #ff66cc; 
    
}

#restartButton {
    font-family: 'Orbitron', sans-serif;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

#restartButton:hover {
    
    background-color: #ff66cc;
}