* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

h1 {
   font-family: 'Orbitron', sans-serif;
   font-size: 40px;
   display: flex;
   justify-content: center;
   
}

p {
  color: purple;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 31em;
    padding-bottom: 30px;
  }

.key {
    background-color: lime;
    opacity: 0.8;
    color: black;
    width: 60px;
    height: 60px;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 2px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    transition: all 0.2s;
  }

  .key:hover {
    background-color: #FF69B4;
    cursor: pointer;
  }

  .key:active {
    transform: scale(0.9);
  }

  .key.reset {
    transform: scale(1);
  }
